*{
	box-sizing: border-box;
}

body {
	font-family: 'Poppins', sans-serif;
	font-weight: 400;
}

.container {
	width: 1224px;
	margin: 0 auto;
	padding: 0 auto; 
}

.header__inner {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 78px;
}

.menu{
	margin-left: auto;
}

.menu__list {
	display: flex;
}

.menu__list-item + .menu__list-item{
	margin-left: 32px;
}

.menu__list-link {
	color: #2F281E;
	font-size: 16px;
	line-height: 28px;
	text-decoration: none;
	font-family: 'Poppins', sans-serif;
}

.user-nav{
	margin-left: 52px;
	margin-right: 13px;
	line-height: 30px;
}

.user-nav__link {
	color: #173A56;
	font-size: 16px;
	line-height: 24px;
	font-weight: 600;
	padding: 11px 23px ;
	border: 1px solid #BCD0E5;
	border-radius: 4px;
}

.user-nav__link + .user-nav__link {
	margin-left: 14px;  
	border-color:transparent;
	background-color: #ff9900;
	color: #fff;
}

.user-nav__link{
	text-decoration: none;
}

