*{
	box-sizing: border-box;
}

body {
	font-family: 'Poppins', sans-serif;
	font-weight: 500;
	color: #544837;
	font-size: 16px;
	line-height: 26px;
}

button{
	font-family: 'Poppins', sans-serif;
	font-weight: 700;
	font-size: 16px;
	line-height: 24px;
	cursor: pointer;
}

.title{
	color: #2F281E;
}

.container {
	width: 1224px;
	margin: 0 auto;
	padding: 0 auto; 
}

.header__inner {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 78px;
}

.menu{
	margin-left: auto;
}

.menu__list {
	display: flex;
}

.menu__list-item + .menu__list-item{
	margin-left: 32px;
}

.menu__list-link {
	color: #2F281E;
	font-size: 16px;
	line-height: 28px;
	font-weight: 400;
	text-decoration: none;
	font-family: 'Poppins', sans-serif;
}

.user-nav{
	margin-left: 52px;
	margin-right: 13px;
	line-height: 30px;
}

.user-nav__link {
	color: #173A56;
	font-size: 16px;
	line-height: 24px;
	font-weight: 600;
	padding: 11px 23px ;
	border: 1px solid #BCD0E5;
	border-radius: 4px;
}

.user-nav__link + .user-nav__link {
	margin-left: 14px;  
	border-color:transparent;
	background-color: #ff9900;
	color: #fff;
}

.user-nav__link{
	text-decoration: none;
}

.top {
	
}

.top__inner{
	padding: 150px 0 90px;
	background-image:url('../images/top-bg.svg');
	background-repeat: no-repeat;
	background-position: bottom right;
}

.top__title{
	font-weight: bold;
	font-size: 42px;
	line-height: 54px;
	margin-bottom: 30px;
	min-width: 518px;
}

.top__text{
	font-weight: 400;
	font-size: 18px;
	line-height: 28px;
	margin-bottom: 45px;
	max-width: 460px;
	
}

.top__btn{
	display: inline-block;
	font-weight: 700;
	color: #fff;
	background-color: #ff9900;
	border-radius:4px;
	padding: 15px 41px 14px;
	margin-right: 30px;
	border: none;
}

.top__link {
	line-height: 24px;
	display: inline-block;
	font-weight: 600;
	color: #ff9900;
	padding-left: 25px; 
	position: relative;
}

.top__link::before{
	content:"";
	position: absolute;
	left: 0;
	top: 2px;
	width: 17px;
	height: 19px;
	background-image: url('../images/btn.png');
}

.tools{
	padding-top: 110px;
}

.tools__items{
	display: flex;
	justify-content: space-between;
	margin-bottom: 60px;
	padding: 8px 16px 0;
}

.tools__title {
	text-align: center;
	min-width: 539px;
	margin: 0 auto 46px;
	font-size: 35px;
	line-height: 54px;
	font-weight: 700;
	padding: 0 10px; 
}

.tools__link{
	background-color: #ff9900;
	display: block;
	font-weight: 700;
	font-size: 14px;
	line-height: 24px;
	color: #fff;
	border-radius:4px;
	padding: 15px 32px 14px;
	margin-right: 30px;
	border: none;
	text-decoration: none;
	width: 173px;
	margin: 0 auto;
	}


.tools__item{
	width: 240px;	
}

.tools__item-img{
	margin-bottom: 30px;
}

.tools__item-title{
	font-size: 22px;
	line-height: 33px;
	font-weight: 600;
	margin-bottom: 13px;
}

.tools__inner {
	background-image:url('../images/bg.svg');
	padding-bottom: 90px;
	background-repeat:no-repeat;
	background-position:center bottom;
	background-size: cover;
}
.direction{
	padding: 120px 0 100px;
}

.direction__item{
	display: flex;
	justify-content: space-between;
	margin-bottom: 100px;
}
.direction__item-content{
	min-width: 486px;
	left: 20px;
	margin-left: 40px;
}

.direction__item-pretitle{
	margin-bottom: 3px; 
}

.direction_item-title{
	font-size: 36px;
	font-weight: 700;
	line-height: 54px;
	margin-bottom: 22px;
}

.direction__item-text{
	margin-bottom: 25px;
	left: 40px;
}

.direction__item-subtitle{
	
	font-weight: 700;
	line-height: 26px;
	margin-bottom: 12px; 
}

.direction__list{
	list-style: none;
}

.direction__list-item{
	margin-bottom: 30px;
	padding-left: 65px;
	position: relative;
}

.direction__list-item::before{
	content:'';
	position: absolute;
	left: 20px;
	top: -5px;
	width: 35px;
	height: 35px;
	background-image: url('../images/list_bg.svg');
}

.team{
	background-image: url(../images/team__bg.svg);
	background-repeat: no-repeat;
	background-position:top center;
	background-size: cover;
}

.team__inner{
	padding: 230px 0 380px;
	position: relative;
}

.team__box{
	text-align: center;
	max-width:0 auto;
	margin: 0 auto;
}

.team__title{
	font-size: 36px;
	line-height: 24px;
	font-weight: 700;
	margin-bottom: 22px;
}

.team__text{
	font-size: 16px;
	font-weight: 500;
	line-height: 26px;
	margin-bottom: 45px;
	text-align: center;
	color:#567592;
}

.team__btn{
	background-color: #ff9900;
	border:none;
	border-radius:4px;
	padding: 15px 30px 14px;
	color:#fff;
}

.team__item{
	position: absolute;
	width: 98px;
	height: 98px;
}

.team1{
	right: 95px;
	top: 77px;
}

.team2{
	left: 226px;
	top: 115px;
}

.team3{
	right: 22px;
	bottom: 70px;
}

.team4{
	right: 95px;
	top: 77px;
}

.team__item-img{
	width: 98px;
	height: 98px;
	border-radius: 50%;
	overflow: hidden;
	object-fit: cover;
}
.team__item-text{
	background-color: #fff;
	padding: 14px 20px 15px;
	color: #2f281e;
	box-shadow: 0px 2px 15px rgbd(23,58,86,0.1);
	border-radius:26px;
	position: absolute;
	top: -28px;
	right: 88px;
	white-space: nowrap;
}

.team__item-text-message::after,
.team__item-text-message::before{
	content:'';
	position: absolute;
	background-color:#fff;
	border-radius:50%;
}

.team__item-text-message::after{
width: 17px;
height: 17px;
bottom: -8px;
right: 14px;
}

.team__item-text-message::before{
width: 9px;
height: 9px;
bottom: -15px;
right: 0;
}















